
$blue: rgb(131, 189, 218);
$indigo: #648FFF;
$pink: rgb(153, 96, 143);
$red: #CC6677;
$yellow: #DDCC77;
$orange: #FE6100;
$headings-font-weight: 600;
$small-font-size: 81%;
$purple: rgb(104, 95, 148);
$green: #117733;
$teal: #44AA99;
$primary: $purple;
$secondary: $blue;