{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1>Visual Vocabulary</h1>
    <h4>Altair-Easeviz</h4>
    <p>
        Welcome to our website, where we explore the integration of our library with <a
            href="https://altair-viz.github.io/">Vega-Altair</a> graphics. Experience
        the versatility of our themes, which go beyond the default design. With the Altair-Easeviz library, we have
        implemented themes that offer subtle yet impactful changes in the visualization of your graphics.
        <br><br>
        Discover how our thematic solutions enhance data presentation and provide a unique experience. Explore the
        variety of available graphics and switch between themes to appreciate how each adds its distinctive touch to the
        visual representation of data.
        <br><br>
        Focused on seamless integration and continuous improvement, our site highlights interoperability between
        libraries, providing practical examples and demonstrating our library's ability to adapt to different visual
        contexts.
    </p>
    <button class="btn btn-primary">
        <a class="text-white" href="https://miguelub.github.io/altair-easeviz/">Web Documentation</a>
    </button>
    <button class="btn btn-primary">
        <a class="text-white" href="https://github.com/MiguelUB/altair-easeviz">Github Repository</a>
    </button>
    <br>
    <br>
    <h1>Accessible Alternatives</h1>
    <p>

        Explore the power of our library, which not only offers seamless integration with HTML templates but also
        customization options that allow you to adjust the graphics according to your preferences. You can modify the
        color palette, text size, and graph dimensions to tailor them to your specific needs.
        <br>
        It's important to note that while these features are available for most graphics, certain composite graphics or
        those with color palettes predefined by the developer may have limitations in customization. However, our
        library is designed to provide maximum flexibility, allowing you to create stunning visualizations tailored to
        your unique vision.
    </p>

    <ul>
        <li><a href="/barchart-of-categories">Category Bar Chart</a></li>
        <li><a href="/barchart-w-description">Category Bar Chart with  description</a></li>
        <li><a href="/composed-chart">Composed Chart (Bar Chart)</a></li>
        <li><a href="/horizontalbarchart">Horizonatal Composed Bar Chart + Text</a></li>

    </ul>

{% endblock %}