{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1>Visual Vocabulary</h1>
    <h4>Altair-Easeviz</h4>
    <p>
        Bienvenido a nuestro sitio web, donde exploramos la integración de nuestra biblioteca con gráficos de
        <a href="https://altair-viz.github.io/">Vega-Altair</a>. Experimenta la versatilidad de nuestros temas, que van
        más allá del diseño predeterminado. Con la
        librería Altair-Easeviz, hemos implementado temas que ofrecen cambios sutiles pero impactantes en la
        visualización de tus gráficos.
        <br><br>
        Descubre cómo nuestras soluciones temáticas mejoran la presentación de datos y brindan una experiencia única.
        Explora la variedad de gráficos disponibles y cambia entre temas para apreciar cómo cada uno añade su toque
        distintivo a la representación visual de los datos.
        <br><br>
        Enfocados en la integración perfecta y la mejora continua, nuestro sitio destaca la interoperabilidad entre las
        bibliotecas, proporcionando ejemplos prácticos y demostrando la capacidad de nuestra librería para adaptarse a
        diferentes contextos visuales.
    </p>
    <button class="btn btn-primary">
        <a class="text-white" href="https://miguelub.github.io/altair-easeviz/">Documentacion Web</a>
    </button>
    <button class="btn btn-primary">
        <a class="text-white" href="https://github.com/MiguelUB/altair-easeviz">Github Repositorio</a>
    </button>
    <br>
    <br>
    <h1>Alternativas mas accesibles</h1>
    <p>
        Explora la potencia de nuestra librería, que no solo ofrece la integración fluida con plantillas HTML, sino
        también opciones de personalización que permiten ajustar los gráficos según tus preferencias. Puedes modificar
        la paleta de colores, el tamaño del texto y las dimensiones del gráfico para adaptarlos a tus necesidades
        específicas.
        <br>
        Es importante tener en cuenta que, aunque estas funciones están disponibles para la mayoría de los gráficos,
        ciertos gráficos compuestos o aquellos con paletas de colores predefinidas por el desarrollador pueden tener
        limitaciones en la personalización. Sin embargo, nuestra librería está diseñada para ofrecer la máxima
        flexibilidad, permitiéndote crear visualizaciones impactantes y adaptadas a tu visión única
    </p>

    <ul>
        <li><a href="/barchart-of-categories">Bar Chart de categorias </a></li>
        <li><a href="/barchart-w-description">Bara Chart de categorias con descripcion</a></li>
        <li><a href="/composed-chart">Composed Chart (graficos de barras)</a></li>
        <li><a href="/horizontalbarchart">Horizonatal Composed Bar Chart + text</a></li>
        <!-- Agrega más elementos según sea necesario -->
    </ul>

{% endblock %}