{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
    </p>

    <label for="miSelector">Select a theme:</label>
    <select id="miSelector">
        <option value="default">Default</option>
        <option value="excel">excel</option>
        <option value="accesible_theme">accesible</option>
        <option value="deuteranopia_theme">deuteranopia_theme</option>
        <option value="fivethirtyeight">fivethirtyeight</option>
        <option value="powerbi">powerbi</option>
        <option value="dark">dark</option>
        <option value="ggplot2">ggplot2</option>
    </select>
    <div class="container-fluid ">
        <div class="d-flex flex-row flex-wrap">
            <div class="c">
                <div id="chart"></div>
            </div>
            <div class="c">
                <div id="chart2"></div>
            </div>
            <div class="c">
                <div id="chart3"></div>
            </div>
            <div class="c">
                <div id="chart4"></div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        const apiUrl = 'http://127.0.0.1:5000/api/linechart';
        let spec;

        let embedOpt = {"mode": "vega-lite"};

        // Parámetros de consulta
        let theme_chart = "default"


        function showError(el, error) {
            el.innerHTML = ('<div style="color:red;">'
                + '<p>JavaScript Error: ' + error.message + '</p>'
                + "<p>This usually means there's a typo in your chart specification. "
                + "See the javascript console for the full traceback.</p>"
                + '</div>');
            throw error;
        }

        function fetchCharts(params, divId) {
            let el = document.getElementById(divId);
            // Realizar la llamada a la API con Axios
            axios.get(apiUrl, {params: params})
                .then(response => {
                    // Manejar los datos obtenidos de la API
                    spec = response.data
                })
                .then(r => {
                    vegaEmbed("#" + divId, spec, embedOpt).catch(error => showError(el, error));
                })
                .catch(error => {
                    // Manejar errores de la solicitud
                    console.error('Error al realizar la solicitud:', error);
                });
        }

        function callCharts(theme_name) {

            fetchCharts({type_chart: '1', theme_chart: theme_name}, 'chart')
            fetchCharts({type_chart: '3', theme_chart: theme_name}, 'chart2')
            fetchCharts({type_chart: '2', theme_chart: theme_name}, 'chart3')
            fetchCharts({type_chart: '4', theme_chart: theme_name}, 'chart4')
        }

        callCharts("default")


        $(document).ready(function () {
            $("#miSelector").change(function () {
                // Obtener el valor seleccionado
                var valorSeleccionado = $(this).val();

                // Utilizar un switch para manejar diferentes casos
                switch (valorSeleccionado) {
                    case "default":
                        callCharts(valorSeleccionado)
                        break;
                    case "excel":
                        callCharts(valorSeleccionado)
                        break;
                    case "accesible_theme":
                        callCharts(valorSeleccionado)
                        break;
                    case "deuteranopia_theme":
                        callCharts(valorSeleccionado)
                        break;
                    case "powerbi":
                        callCharts(valorSeleccionado)
                        break;
                    case "fivethirtyeight":
                        callCharts(valorSeleccionado)
                        break;
                    case "dark":
                        callCharts(valorSeleccionado)
                        break;
                    case "ggplot2":
                        callCharts(valorSeleccionado)
                        break;
                    default:
                        console.log("error en el nombre de tema")
                }
            });
        });

    </script>

{% endblock %}